<div class="row ">
  <div class="col book card" (click)="goToDetail()">
    <div class="row">
      <div class="col-9">
        <div class="row">
          <div class="col t">
              {{book.volumeInfo.title}}
          </div>
        </div>
        <div class="row" *ngIf="book.volumeInfo.subtitle != undefined">
          <div class="col st">
            {{book.volumeInfo.subtitle}}
          </div>
        </div>
      </div>
      <div class="col-3">
        <img class="imageBook" *ngIf="book.volumeInfo.imageLinks.smallThumbnail != undefined" src="{{book.volumeInfo.imageLinks.smallThumbnail}}" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        {{book.volumeInfo.description | slice:0:300}}
      </div>
    </div>
    <div class="row">
      <div class="col" *ngIf="book.volumeInfo.authors != undefined">
        <div class="row">
          <div class="col"><strong>Written by :</strong></div>
        </div>
        <div class="row" *ngFor="let a of book.volumeInfo.authors">
          <div class="col">
              {{a}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>