<div class="row">
  <div class="col search">
    <div class="row justify-content-center align-items-center">
      <div class="col-6">
        <h1>Find Book</h1>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-5">
        <fieldset class="form-group">
          <label class="bmd-label-floating" for="search">Search book</label>
          <input type="search" class="form-control" id="search" (keyup)="change($event)" />
        </fieldset>
        
      </div>



    </div>

  </div>
</div>